*{
    box-sizing: border-box;
}

body {
    background-color:#fff6c9; 
    /* */
    font-family: "OCR A Std",
    monospace; 
    text-align: center; 
    color: #381D2A;
}

.container {
    background-color: #ffef9e;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0  10px rbga(0,0,0, 0.5);
    border-radius: 10px;
}

h1 {
    margin-top: 0;
    text-align: center;
    font-size: 50px;
    /* color: #f0ad9c; */
}

input {
    padding: 10px;
    border: 10px solid ccc;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 18px;
    width: 40%;
}

button {
    background-color: #FFA552;
    color: #381D2A;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
    width: 20%;
    font-family: "OCR A Std",
    monospace; 
    font-size: 18px;
    transition: background-color .1s
    ease;
}

button:hover {
    background-color: #E29544;
}

#user_zipcode {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.wave-text span {
    display: inline-block;
    font-size: 4rem;
    animation: wave 0.5s ease 1;
    text-shadow: 3px 3px #FFA552;
    color: #381D2A;

}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}
.wave-text span:nth-child(5) {
    animation-delay: 0.8s;
}
.wave-text span:nth-child(6) {
    animation-delay: 1.0s;
}
.wave-text span:nth-child(7) {
    animation-delay: 1.2s;
}
.wave-text span:nth-child(8) {
    animation-delay: 1.4s;
}
.wave-text span:nth-child(9) {
    animation-delay: 1.6s;
}
.wave-text span:nth-child(10) {
    animation-delay: 1.8s;
}
.wave-text span:nth-child(11) {
    animation-delay: 2.0s;
}



@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}