<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tldRep</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>tldREP</h1>
        <p> Be informed. Get the rundown of your representative. </p>
        <h2>Enter your zip code:</h2>
        <input id="user_zipcode"> <br> <br>
        <button onclick = "findRep()"> Submit </button>
        <h1 id="repInfo"> </h1>
    </div>

    <script>
        function findRep() {
            let user_zipcode = document.querySelector("#user_zipcode");
            let repInfo = document.querySelector("#repInfo");

            repInfo.innerHTML = "[REPRESENTATIVE NAME] ";
            
        }
    </script>
</body>
</html>