<!DOCTYPE html>
<html lang="en">
<img src="{{ url_for('static', filename='tldrep.png') }}" alt="test image" height="100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REP-Rundown</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="wave-text">
            <span>R</span><span>E</span><span>P</span><span>-</span><span>R</span><span>u</span><span>n</span><span>d</span><span>o</span><span>w</span><span>n</span><span></span>
        </h1>
        <p> Too long, didn't read? Get informed. Get the rundown of your representative. </p>
        <b><p>Enter your zip code:</p></b>
        <form method = "post">
            <input name="user_zipcode"> <br> <br>
            <button type= "submit">Submit</button>
        </form>
        {% if rep_name != "invalid" %}
             <p style="color: red; font-weight: bold;"></p>
        {% endif %}
    </div>

    <!--<script src="{{ url_for('static', filename='index.js') }}"></script>-->
</body>
</html>