<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epic Front End</title>
</head>
<body>
    <h1>Please enter your zip code:</h1>
    <input id="user_zipcode"> <br> <br>
    <button onclick = "findRep()"> Submit </button>
    <h1 id="repInfo"> </h1>

    <style>
        body {background-color: lightslategray; text-align: center; color:black}
    </style>

    <script>
        function findRep() {
            let user_zipcode = document.querySelector("#user_zipcode");
            let repInfo = document.querySelector("#repInfo");

            repInfo.innerHTML = "Your zip code is: " + user_zipcode.value;
            
        }
    </script>
</body>
</html>