<!DOCTYPE html>
<html lang="en">
<img src="{{ url_for('static', filename='tldrep.png') }}" alt="test image" height="100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tldREP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="wave-text">
            <span>t</span><span>l</span><span>d</span><span>R</span><span>E</span><span>P</span>
        </h1>
        <p> Get informed. Get the rundown of your representative. </p>
        {% if rep_name != "invalid" %}
            <p> Your representative is: </p>
            <h1 id="repInfo">{{ rep_name }}</h1>
        {% endif %}
    </div>

    <!--<script src="{{ url_for('static', filename='index.js') }}"></script>-->
</body>
</html>