<!DOCTYPE html>
<html lang="en">
<img src="{{ url_for('static', filename='tldrep.png') }}" alt="test image" height="100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REP-Rundown</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='content_style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="wave-text">
            <span>R</span><span>E</span><span>P</span><span>-</span><span>R</span><span>u</span><span>n</span><span>d</span><span>o</span><span>w</span><span>n</span><span></span>
        </h1>
        <p> Too long, didn't read? Get informed. Get the rundown of your representative. </p>
        <hr width="80%;" color=#381D2A size="1">
        {% if rep_name != "invalid" %}
            <h1 id="repInfo">{{ rep_name }}</h1>
        {% endif %}
        <img src=
        {{image}} alt="rep image" height="250" width= "215" style="border: 10px solid #fff6c9;">
        <p>
            Political Party:
            <span 
                style="color: {% if party == 'Republican' %}red{% elif party == 'Democrat' %}blue{% else %}black{% endif %}; 
                font-size: 20px">
                <b>{{party}}</b>
                <br>
            </span> 
            Congressional District: <b>{{district}}</b>
        </p>
        <div class="summary_info">
            <p>{{ rep_info | safe }}</p>
        </div>
    </div>


    <!--<script src="{{ url_for('static', filename='index.js') }}"></script>-->
</body>
</html>